@page "/"
@using AIAssist.Services
@using AIAssist.Data
@using Microsoft.Graph.Models
@inject OchestrationService OchestrationService

<PageTitle>Index</PageTitle>

@if (Person == null)
{
    <p><em>W E L C O M E</em></p>
}
else
{
    <h1>Hello, @Person.DisplayName</h1>
}

<p>The following task have been completed by AI Assist.</p>

@if (ToDoTasksAssisted == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Assisted Task</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in ToDoTasksAssisted)
            {
                <tr>
                    <td>@task</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<string> ToDoTasksAssisted;
    private Person Person;

    protected override async Task OnInitializedAsync()
    {
        await OchestrationService.Test();

        ToDoTasksAssisted = OchestrationService.ToDoTasksAssisted;
        Person = OchestrationService.CurrentPerson;
    }
}

